.footer {
    padding: 2em;
}

.footer h2{
    font-weight: 800;
    padding: 0px 40px;
}



.footer li:last-of-type{
    display: flex;
}

.footer li{
    line-height: 32px;
}
.footer ul{
    padding: 20px 30px;
}

.footer div:first-of-type{
    padding-bottom: 0px;
}