.footer {
    padding: 2em;
}

.footer h2{
    font-weight: 800;
}



.footer li:last-of-type{
    display: flex;
}

.footer ul{
    padding-right: 150px;
}

.footer div:first-of-type{
    padding-bottom: 0px;
}